.navbar{
    height: 50px;
}
img {
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
}

.card-title{
    height: 46px;
}
.center{
    margin: auto;
    display: block;
}

.spacer{
    height: 42px;
}

.card{
    margin:0.5rem;
    margin-top: 0rem;
}
.input.form-control{
    line-height: 56px;
}

a {
    color: inherit;
    text-decoration: inherit;
  }