.navbar{
    height: 50px;
}
img {
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
}

.card-title{
    height: 46px;
}
.center{
    margin: auto;
    display: block;
}

.spacer{
    height: 42px;
}

.card{
    margin:0.5rem;
    margin-top: 0rem;
}
.input.form-control{
    line-height: 56px;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

  .inline {
    display: inline;
  }
  
   .link-button {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  .link-button:focus {
    outline: none;
  }
  .link-button:active {
    color:red;
  }
  h6{
    color: grey;
  }
  
  footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
 }
 #content{
   padding-bottom: 60px;
 }