{% extends "layout.html" %}
{% block title %}Recepten{% endblock %}

{% block content %}
<div class="container">
<div class="col">
<div class="row justify-content-around">
{% for recept in recepten %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/assets/placeholder.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{recept.naam}}</h5>
    <p class="card-text">{{recept.text}}</p>
    <a href="#" class="btn btn-primary">Ga naar {{recept.naam}}</a>
  </div>
</div>
{% endfor %}
</div>
</div>
</div>

	
{% endblock %}