{% extends "layout.html" %}
{% block title %}Recipes{% endblock %}

{% block message %}


{% if msg is defined and msg|length %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
  </div>
  {% else %}
  <div class="alert alert-light" role="alert">
  </div>
  {% endif %}
{% endblock %}

{% block content %}

<form class="form-group" action="/" method="GET">
  <div class="input-group mb-3">
    <input name="search" type="text" class="form-control" placeholder="Search recipes" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-success" type="submit" id="button-addon2">Search</button>
  </div>
</form>

  <div class="row justify-content-around">
{% if recipes is not none %}
{% for recipe in recipes %}
<div class="card" style="width: 16rem;">
  <img class="card-img-top" src="{{recipe['img']}}" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-title">{{recipe["name"]}}</h6>
    <p class="card-text"></p>
    <form class="form" action="/" method="POST">
    <input type="number" name="favorite_id" hidden value='{{recipe["id"]}}'>
    <input type="text" name="favorite_img" hidden value='{{recipe["img"]}}'>
    <input type="text" name="favorite_name" hidden value='{{recipe["name"]}}'>
    <input type="text" name="favorite_description" hidden value='{{recipe["description"]}}'>
    {% if recipe.id|isInList(favorites) %}
    <input class="favorite-card" type="image" src="/static/assets/star-outline-yellow.svg">
    {% else %}
    <input class="favorite-card" type="image" src="/static/assets/star-outline-grey.svg">
    {% endif %}
    </input>
  </form>
  </div>
</div>
{% endfor %}
{% else %}
<h2>Nothing found</h2>
</div>


{% endif %}

	
{% endblock %}