{% extends "layout.html" %}
{% block title %}Recept toevoegen{% endblock %}

{% block message %}

{% if msg is defined and msg|length %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
  </div>
  {% else %}
  <div class="alert alert-light" role="alert">
  </div>
  {% endif %}
{% endblock %}

{% block content %}

<div class="row justify-content-around">
  <h2>My favorite recipes</h2>
  {% if recipes is not none %}
    {% for recipe in recipes %}
      <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="{{recipe['img']}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{recipe["name"]}}</h6>
          <p class="card-text"></p>
          <form class="form" action="/" method="POST">
          <input type="number" name="recipe_to_favorite" hidden value='{{recipe["id"]}}'>
          {% if recipe.id|isInList(favorites) %}
          <input class="favorite-card" type="image" src="/static/assets/star-outline-yellow.svg">
          {% else %}
          <input class="favorite-card" type="image" src="/static/assets/star-outline-grey.svg">
          {% endif %}
          </input>
        </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
</div>
  
  
  {% endif %}
	
	
{% endblock %}