{% extends "layout.html" %}
{% block title %}Recept toevoegen{% endblock %}

{% block message %}

{% if msg is defined and msg|length %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
  </div>
  {% else %}
  <div class="alert alert-light" role="alert">
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <h1>My favorite recipes</h1>
  </div>
  <div class="row justify-content-center">
    <div class="spacer"></div>
  </div>
  <div class="row justify-content-center">
    {% for fav in favorites %}
      <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="{{fav['img']}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{fav["name"]}}</h6>
          <p class="card-text"></p>
          <form class="form" action="/" method="POST">
          <input type="number" name="favorite_id" value='{{fav}}'>
          <input type="text" name="favorite_img" hidden value='{{fav["img"]}}'>
          <input type="text" name="favorite_name" hidden value='{{fav["name"]}}'>
          <input type="text" name="favorite_description" hidden value='{{fav["description"]}}'>
          <input class="center" type="image" src="/static/assets/star-outline-yellow.svg">
          </input>
        </form>
        </div>
      </div>
    {% endfor %}
  </div>
	
{% endblock %}