{% extends "layout.html" %}
{% block title %}Recept toevoegen{% endblock %}

{% block message %}

{% if msg is defined and msg|length %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
  </div>
  {% else %}
  <div class="alert alert-light" role="alert">
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <h2>My favorite recipes</h2>
  </div>
  <div class="d-flex justify-content-between flex-wrap">
    {% for key, value in favorites.items() %}
      <div class="card" style="width: 16rem;">
        <img class="card-img-top" src="{{value['img']}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">{{value["name"]}}</h6>
          <p class="card-text"></p>
          <form class="form" action="/" method="POST">
          <input type="number" name="favorite_id" hidden value='{{value["id"]}}'>
          <input type="text" name="favorite_img" hidden value='{{value["img"]}}'>
          <input type="text" name="favorite_name" hidden value='{{value["name"]}}'>
          <input type="text" name="favorite_description" hidden value='{{value["description"]}}'>
          <input class="favorite-card" type="image" src="/static/assets/star-outline-yellow.svg">
          </input>
        </form>
        </div>
      </div>
    {% endfor %}
  </div>
	
{% endblock %}