{% extends "layout.html" %}
{% block title %}Recept toevoegen{% endblock %}

{% block content %}

<form>
  <div class="form-group">
	<label for="recept">Recept</label>
	<input type="text" class="form-control" id="recept" placeholder="Recept">
  </div>
  <div class="form-group">
	<label for="omschrijving">Omschrijving</label>
	<textarea class="form-control" id="omschrijving" placeholder="Omschrijving"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Voeg toe</button>
</form>
	
{% endblock %}